@page "/secret/{id:int}"
@using MyBlazorVault.Services
@using MyBlazorVault.Data
@inject VaultService vault
@inject NavigationManager uriHelper

<h2>Edit @secret.Id</h2>

<EditForm Model="@secret">
    <div class="col-md-6">
        <label for="title" class="form-label">Title</label>
        <InputText id="title" class="form-control" @bind-Value="secret.Title" />
    </div>

    <div class="col-md-6">
        <label for="userName" class="form-label">User Name</label>
        <InputText id="userName" class="form-control" @bind-Value="secret.UserName" />
    </div>

    <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <InputText id="password" type="password" class="form-control" @bind-Value="secret.EncryptedPassword" />
    </div>

    <div class="form-check">
        <label class="form-check-label" for="favorite">
            Is Favorite
        </label>
        <InputCheckbox id="favorite" class="form-check-input" type="checkbox" @bind-Value="secret.Favorite" />
    </div>
    <div class="col-md-6">
        <label for="notes" class="form-label">Notes</label>
        <InputTextArea id="notes" class="form-control" @bind-Value="secret.Notes" />
    </div>

    <button type="submit" class="btn btn-success" @onclick="Save">Save</button>

</EditForm>
<button type="button" class="btn btn-danger" @onclick="Delete">Delete</button>

@code {
    [Parameter]
    public int Id { get; set; }

    Secret secret = new Secret();

    protected override async Task OnParametersSetAsync()
    {
        secret = await vault.GetSecretById(Id);
    }

    private async void Save()
    {
        await vault.EditSecret(secret.Id, secret);
        uriHelper.NavigateTo("/vault", forceLoad: true);
    }
    private async void Delete()
    {
        await vault.DeleteSecret(secret.Id);
        uriHelper.NavigateTo("/vault", forceLoad: true);
    }
}
